<a href="https://colab.research.google.com/github/KristinePenaroyo/Linear-Algebra_ChE_2nd-Sem-2021-2022/blob/main/Activity_1_Python_Fundamentals.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to Python Fundamentals
In this module, we are going to establish or review our skills in Python programming. In this notebook we are going to cover:
* Variables and Data Types 
* Operations
* Input and Output Operations
* Logic Control
* Iterables
* Functions

## Variable and Data Types
A variable is an identifier that is used to store a value. There are four commonly used data types: int, float, char, and bool. The size and range of a data type differ from one another.

In [ ]:
k = 23
g,v = 1, -56
v

-56

In [ ]:
type(v)

int

In [ ]:
l = 12.0
type (y)

float

In [ ]:
a = float(a)
type (a)

float

In [ ]:
k,j,e = "90", '7', 'five'
type(j)

str

In [ ]:
s_int = int(k)
s_int

90

##Operations
Operations are such activities it can cause an effect in a variable or a functional change in the current position.

###Arithmetic

In [31]:
r,e,s,t = 6.98, 54.73, -5.8, 3

In [32]:
# Addition
K = e+t
K

57.73

In [33]:
### Subtraction
R = e-s
R

60.529999999999994

In [34]:
### Multiplication
I = r*e
I

382.0154

In [35]:
### Division 
S = s/t
S

-1.9333333333333333

In [36]:
### Floor Division
Ti = s/e
Ti

-0.10597478530970218

In [38]:
### Exponentiation
N = e**s
N

8.284997863731103e-11

In [37]:
### Modulo
mod = e%r
mod

5.869999999999994

### Assignment Operations
Assignment operation (=) assigns the value of the right-hand operand to the storage location named by the left-hand operand. The left-hand operand of an assignment operator must be an adjustable value. After the assignment, an assignment expression has the value of the left operand but is not a value.

In [28]:
E, A, S, T = 500, 58, 46, 27

In [40]:
S += s
S

46.99666666666667

In [41]:
T -= r
T

20.02

In [42]:
E *= e
E

27365.0

In [43]:
A **= 5
A

656356768

### Comparators
Comparators are a built-in design pattern in Python that allows you to sort a list in a particular way. This is useful when you have a list of objects, and you want to sort them in a certain way that respects their relationships. For example, you might have a list of students, and you want to sort them by their last name. A Comparator could be used to sort the list so that last names come before first names, and so on.

In [22]:
res_11, res_23, res_20 = 56, 5.30, "98"
true_val = 7.9

In [23]:
## Equality 
res_23 == true_val

False

In [24]:
## Non-equality
res_11 != true_val

True

In [44]:
## Inequality
t3 = res_11 > res_23
t4 = res_11 < res_23/23
t3

True

### Logical
In Python, logical operators are used to execute logical operations on variable values. Either true or false is the value. There are three basic types of logical operators: logical AND, logical OR, and logical NOT. Keywords or special characters are used to represent operators.


![logical operation.png]()

In [26]:
res_23 == true_val

False

In [27]:
res_11 is true_val

False

In [ ]:
res_20 is not true_val

True

In [ ]:
a, d = True, False
conj = a and d
conj

False

In [ ]:
t, o = True, False
disj = t or o
disj

True

In [ ]:
c, a = True, False
nand = not(c and a) 
nand

True

In [ ]:
r, t = True, False
xor = (not r and t) or (r and not t)
xor

True

### I/O
In Python, two built-in functions are used to execute input and output operations (OI Operations). The two built-in functions for performing output and input operations are listed below. print() is a method for generating output. input() is a function that is used to perform input operations.

In [ ]:
print("La Vie Est Belle")

La Vie Est Belle

In [ ]:
cnt = 9

In [ ]:
string = "La Vie Est Belle"
print(string, ", Current run count is:", cnt)
cnt += 10

La Vie Est Belle , Current run count is: 41

In [ ]:
print(f"{string}, Current count is: {cnt}")

La Vie Est Belle, Current count is: 51

In [ ]:
sem_grade = 95.7862413892
name = "Tin"
print("Hola! {}, your semestral grade is: {}".format(name, sem_grade))

Hola! Tin, your semestral grade is: 95.7862413892

In [ ]:
w_pg, w_mg, w_fg = 0.87, 0.90, 0.89
print("The weight of your semestral grades are:\
\n\t{:.3%} for Prelims\
\n\t{:.3%} for Midterm, and\
\n\t{:.4%} for Finals.".format(w_pg, w_mg, w_fg))

The weight of your semestral grades are:
	87.000% for Prelims
	90.000% for Midterm, and
	89.0000% for Finals.

In [ ]:
q = input("enter your favorite number: ")
q

enter your favorite number: 23

'23'

In [ ]:
x = float
name = input("input your name: ")
pg = int(input("Enter prelim grade: "))
mg = int(input("Enter midterm grade: "))
fg = int(input("Enter finals grade: "))
x = pg*0.3 + mg*0.3 + fg*0.4
sem_grade = x

print("Hola! {}, your semestral grade is: {}".format(name, sem_grade))

input your name: Kristina
Enter prelim grade: 89
Enter midterm grade: 90
Enter finals grade: 92
Hola! Kristina, your semestral grade is: 90.5

# Looping Statement
Looping statements in python are a way of executing a block of code repeatedly. There are two primary looping constructs in Python: the for loop and the while loop. The for loop is the looping construct used in the for statement. The while loop is the looping construct used in the while statement.

##While
While Loop is used to execute a set of statements again and again until a condition is met, and when the condition becomes false, the line immediately after the loop in the program is executed.

In [ ]:
## while loops
l, u = -9, 5
while(l<=u):
    print(f"{l}\t|\t{u}")
    l+=1

-9	|	5
-8	|	5
-7	|	5
-6	|	5
-5	|	5
-4	|	5
-3	|	5
-2	|	5
-1	|	5
0	|	5
1	|	5
2	|	5
3	|	5
4	|	5
5	|	5

##For
For loop is a control statement that allows code to be executed repeatedly by defining iteration.

In [ ]:
# for(int i=1; i<16; i++) {
# printf(i)
# }

i=2
for i in range(16):
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
playlist = []
print('Now Playing:Bruno\n')
for song in playlist:
    print(song)

Now Playing:Bruno

#Flow Control
Flow control of a program is the sequence in which the program's code runs. The control flow of a Python program is governed by conditional statements, loops, and function calls. Python's control structures are divided into three categories: The default mode is sequential. Selection is a decision-making and branching tool.

##Conditional Statements
If conditional statements include more than one condition, they are conditional statements with more than one condition. The second condition is only examined if the first condition is false. If Condition 1 is false, Condition 2 is not tested.

In [ ]:
numeral11, numeral20 = 28, 79
if(numeral11 == numeral20):
    print("Krasivaya")
elif(numeral11>numeral20):
    print("Jamila")
else: 
    print("Překrásný")

Překrásný

#Functions
Each function has three components. They do, Function declaration or prototype. This informs the compiler about the function name, function arguments, and the data type of the return value. A function is a reusable chunk of code that is used to accomplish a single, related activity. Functions improve the modularity of your program and allow for more code reuse.

In [ ]:
# void DeleteUser(int userid){
#     delete(userid)
# }

def delete_user (userid):
  print("Successfully deleted user: {}".format(userid))

def delete_all_users ():
  print("Successfully deleted all users")

In [ ]:
userid = 202010014
delete_user(202010014)
delete_all_users()

Successfullu deleted user: 202010014
Successfully deleted all users

In [ ]:
def add(addend1, addend2):
    print("I know how to add addend1 and addend2")
    return addend1 + addend2

def power_of_base2(exponent):
    return 12**exponent

addend1 = 6
addend2 = 876

exponent = 9

add(addend1, addend2)
power_of_base2(exponent)

I know how to add addend1 and addend2

5159780352

In [ ]:
add(addend1, addend2)

I know how to add addend1 and addend2

882

##**Assignment**
Create a grade calculator that computes for the semestral for the semestral grade of a course. Students could type their names,  the name of the course, then their prelim, midterm, and final grade.
The program should print the semestral grade in 2 decimal points and should display the following emojis depending on the situation:

- happy - when grade is greater than 70.00

- laughing - when grade is exactly 70.00

- sad - when grade is below 70.00


---

    happy, lol, sad = "\U0001F600", "U0001F606", "\U0001F62D"

In [9]:
x = float
print("Ni Hao Student!")
name = input("Please input your Name: ")
course = input("Please input your Course: ")
str_id = input("Please input your ID number. ：")
pg = int(input("Enter prelim grade: "))
mg = int(input("Enter midterm grade: "))
fg = int(input("Enter finals grade: "))
x = pg*0.3 + mg*0.3 + fg*0.4
sem_grade = "{:.2f}".format(x)
emoji = x

print("Hola! {}, your semestral grade is: {}".format(name, sem_grade, emoji), end =" ") 

if (emoji>70.00):
  print("\U0001F600")
elif (x == 70.00):
  print("\U0001F606")
else:
  print("\U0001F62D")

Ni Hao Student!
Please input your Name: Kristine Penaroyo
Please input your Course: Linear Algebra for ChE Lab
Please input your ID number. ：202010014
Enter prelim grade: 88
Enter midterm grade: 90
Enter finals grade: 92
Hola! Kristine Penaroyo, your semestral grade is: 90.20 😀